body.full {
    background-color: black;
}

#form-search {
    margin: 5px 0;
}

img.bordered {
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

img.no-resize {
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    max-height: 800px;
    max-width: 800px;
}

.td-padded {
    padding: 3px;
    text-align: center;
}

.dropdown-menu {
    max-height:     600px;
    overflow:       hidden;
    overflow-y:     auto;
}

.star {
    background: transparent url(/static/img/star.png);
    display: inline-block;
    vertical-align: -10%;
    height: 38px;
    width: 38px;
}

.star-lit {
    background:transparent url(/static/img/star-lit.png);
    display: inline-block;
    vertical-align: -10%;
    height: 38px;
    width: 38px;
}
