
div.graph-control-panel {
    float: left;
    position: absolute;
}

h2
{
    font-size: 28px;
}

.graphs
{
    margin-top: 20px;
}

.graph img
{
    width: 100%;
}

.zoom-box
{
    float: right;
    margin-top: 30px;
}

.title
{
    margin-bottom: 8px;
}

#dateTimePicker
{
    float: left;
    margin-left: 10px;
    display: none;
}

.interval-nav
{
    margin-bottom: 16px;
}
.interval-nav > li > a
{
    padding: 7px 15px;
    white-space: nowrap;
}

#dateTimePicker .input-group
{
    float: left;
    width: 200px;
    margin-right: 10px;
}

body { padding-top: 50px; }

body.full {
    background-color: black;
}

#form-search {
    margin: 5px 0;
}

.graph
{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.graph h3
{
    background-color: #EFEFEF;
    color: #333;
    font-size: 16px;
    line-height: 30px;
}

.graph-row
{
    padding-bottom: 30px;
}

img.no-resize {
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    max-height: 800px;
    max-width: 800px;
}

.td-padded {
    padding: 10px;
    text-align: center;
}

.dropdown-menu {
    max-height:     600px;
    overflow:       hidden;
    overflow-y:     auto;
}

.star {
    background: transparent url(/static/img/star.png);
    display: inline-block;
    vertical-align: -10%;
    height: 38px;
    width: 38px;
}

.star-lit {
    background:transparent url(/static/img/star-lit.png);
    display: inline-block;
    vertical-align: -10%;
    height: 38px;
    width: 38px;
}
