#form-search {
    margin: 5px 0;
}

img.bordered {
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

img.no-resize {
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    max-height: 800px;
    max-width: 800px;
}

.td-padded {
    padding: 3px;
}
