<div class="graph">
	{% if links_to == 'detail' %}
	<a href="{{ url_for("detail", category=dashboard.category,
	                    dash=dashboard.short_name, name=graph.name) }}">

	{% elif links_to == 'single' %}
	<a href="{{ url_for("single", category=dashboard.category,
	                    dash=dashboard.short_name, name=graph.name, from=graph.graphite.properties.from, until=graph.graphite.properties.to ) }}">

	{% endif %}
	    <img {% if dashboard.no_resize %}class="no-resize"{% endif %} data-src="{{ leonardo.graphite_render }}?{{ graph.graphite.url() }}" src='' title="{{ graph.graphite.title }}"  data-content="{{ graph.graphite.description }}" graph_columns="{{dashboard.graph_columns}}"/>
	{% if links_to %}
	</a>
	{% endif %}
	{% if title %}
	    <div align="center">
			<h3>{{ title }}</h3>
		</div>
	{% endif %}
</div>
