{% extends "layout.html" %}

{% block title %}
{{ dashboard.short_name }}
{% endblock %}


{% block content %}
<div class="row title">
  <h2 class="col-md-8">
    <span id="fav_star" {% if dashboard.favorite %}class="star-lit"{% else %}class="star"{% endif %}></span>
    {{ dashboard.short_name }}
    <small>{{ dashboard.description }}</small>
  </h2>
    <div class="col-md-4">
    {% include '_zoom_box.html' %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% include '_interval_filter.html' %}
  </div>
</div>

  <div class="row graphs">
      {% for graph in graphs | sort(attribute='name')  %}
        <div class="col-md-4">
            <div id={{graph.name}} class="graph-render">
                {% include '_graph.html' %}
            </div>
            {% if "documentation" in graph.graphite.properties %}
            <div id={{graph.name+"-cp"}} class="graph-control-panel">
                <div class="btn-group btn-group-vertical">
                    <a class="btn btn-mini" href="{{graph.graphite.properties["documentation"]}}"><i class="icon-question-sign"></i></a>
                </div>
            </div>
            {% endif %}
        </div>
      {% endfor %}
  </div>
{% endblock %}
