{% extends "layout.html" %}

{% block content %}
<div class="row-fluid" style="vertical-align: middle;">
 <h2>
    <span id="fav_star" {% if dashboard.favorite %}class="star-lit"{% else %}class="star"{% endif %}></span>
    {{ dashboard.short_name }}
    <small>{{ dashboard.description }}</small>
  </h2>
</div>

<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span6">
    {% include 'interval_filter.html' %}
  </div>
  <div class="span4">
    {% include 'zoom_box.html' %}
  </div>
</div>

  <table>
    <tr>
      {% for graph in graphs | sort(attribute='name')  %}
      <td class="td-padded">
          {% include 'graph.html' %}
      </td>
      {% if not dashboard.no_resize and loop.index is divisibleby dashboard.graph_columns %}
        </tr>
        <tr>
      {% endif %}
      {% endfor %}
      </span>
    </tr>
  </table>
{% endblock %}
