{% extends "layout.html" %}

{% block content %}
<div class="row-fluid">
  <div class="span8">
    <h2>{{ graphs[0].graphite.properties.title }}&nbsp;<small>in <a href="/{{ dashboard.category}}/{{ dashboard.short_name }}/">{{ dashboard.short_name }}</a></small></h2>
  </div>
  <div class="span2">
    {% include 'zoom_box.html' %}
  </div>
</div>

<div>
  <table align=center>
    {% for graph in graphs %}
    <tr>
      <td class="td-padded">
          <div>
            {% include 'graph.html' %}
          </div>
          <p>
            <b>{{ graph.graphite.properties.nice_from }}</b>
          </p>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}