{% extends "layout.html" %}

{% block content %}
<div class="row-fluid">
  <div class="span8">
    <h3>{{ dashboard.category }} 
          > <a href="{{ url_for( "dash", category=dashboard.category, dash=dashboard.short_name) }}">{{ dashboard.short_name }}</a> 
          > {{ graphs[0].graphite.properties.title }}&nbsp;
    </h3>
  </div>
  <div class="span2">
    {% include 'zoom_box.html' %}
  </div>
</div>

<div>
  <table align=center>
    {% for graph in graphs %}
    <tr>
      <td class="td-padded">
          <div>
            {% include '_graph.html' %}
          </div>
          <p>
            <b>{{ graph.graphite.properties.nice_from }}</b>
          </p>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
