<ul class="nav nav-pills">
  {% for options in view.interval_filters %}
  <li {{" class=active" if options['from'] == graph.graphite.properties.from }}>
    {% if "to" not in options %}
      <a href="{{ url_for("single", category=dashboard.category,
          dash=dashboard.short_name, name=graph.name ,from=options["from"], until="now") }}">
    {% else %}
      <a href="{{ url_for("single", category=dashboard.category,
          dash=dashboard.short_name, name=graph.name, from=options["from"], until=options["to"]) }}">
    {% endif %}
    {{ options["label"] }}
    </a>
  </li>
  {% endfor %}
  <li><a id="toggleDateTimePicker" href="#">Select Date</a></li>
</ul>

<div class="nav" id="dateTimePicker">
  From: <input type="text"  name="dt_from" id="dt_from" value="{{ view.fmt_for_select_date(dashboard.graph_from, 'from') }}" class="hasDatepicker center"/>
  To: <input type="text" name="dt_to" id="dt_to" value="{{ view.fmt_for_select_date(dashboard.graph_until, 'until') }}" class="hasDatepicker center"/>
  <button type="button" class="btn" onClick="leo.selectDateTime()">Show</button>
</div>
