<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/leonardo.css") }}">

        <script src="{{ url_for("static", filename="js/jquery-1.7.2.min.js") }}"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for("static", filename="js/leonardo.js") }}"></script>

        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.0/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/jquery.datetimepicker.css") }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="{{ url_for("static", filename="js/jquery-ui-1.10.0.custom.min.js") }}"></script>
        <script src="{{ url_for("static", filename="js/jquery.datetimepicker.js") }}"></script>
        <script src="{{ url_for("static", filename="js/jquery-ui-sliderAccess.js") }}"></script>
        <script src="{{ url_for("static", filename="js/jquery.cookie.js") }}"></script>
        <script src="{{ url_for("static", filename="js/selectdate.js") }}"></script>
        <script src="{{ url_for("static", filename="js/bootstrap-twipsy.js") }}"></script>
        <script src="{{ url_for("static", filename="js/bootstrap-scrollspy.js") }}"></script>
        <script src="{{ url_for("static", filename="js/bootstrap-dropdown.js") }}"></script>
        <script src="{{ url_for("static", filename="js/bootstrap-tooltip.js") }}"></script>
        <script src="{{ url_for("static", filename="js/bootstrap-popover.js") }}"></script>
        <script src="{{ url_for("static", filename="js/bootstrap-typeahead.js") }}"></script>

        <title>
        {% block title %}
        {{ leonardo.dash_title }}
        {% endblock %}
        </title>
    </head>
    <body>
    {% include '_header.html' %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>
