{% extends "layout.html" %}

{% block content %}
<div class="row-fluid">
    <h3>{{ dashboard.category }} 
          > <a href="{{ url_for( "dash", category=dashboard.category, dash=dashboard.short_name) }}">{{ dashboard.short_name }}</a> 
          > {{ graph.graphite.properties.title }}&nbsp;
    </h3>

  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
      {% include 'interval_filter_single.html' %}
    </div>
  </div>
</div>

<div>
  <table align=center>
    <tr>
      <td class="td-padded">
          <div>
            {% include 'graph.html' %}
          </div>
      </td>
    </tr>
  </table>
</div>

{% endblock %}